@media screen and (max-width:1240px){
/*start*/

.slider_item_h{
  font-size: 24px;
}
.slider_item_p{  font-size: 12px;
}
.slider_item_num{
  font-size: 30px;
}
/*body{
  background-color: #3d3;
}*/


/*end*/
}

@media screen and (max-width:939px){
/*start*/
/*body{
  background-color: #d3d;
}*/
}
