/*NOTE :: 메인칼라 main color '#1990ff' */

/*transition: all 0.1s ease-in-out;*/
.video_btn_item a
{transition: all 100ms ease-in-out;}

/*transition: all 0.2s ease-in-out;*/
.what_dot_item,
.what_p_item,
.have4_content_close,
.nav_item_skew,
.nav_item_text
{transition: all 200ms ease-in-out;}

/*transition: all 0.2s ease-out;*/
.have4_item
{transition: all 200ms ease-out;}

/*cursor: pointer;*/
.nav_item_skew,
.nav_item_text,
.what_dot_item,
.have4_item,
.have4_content_close
{cursor: pointer;}

body{
  letter-spacing: -1px;
  color: #2d2d2d;
  font-family: 'Nanum Gothic', sans-serif;
}
section{
  padding: 100px 0;
  padding-bottom: 188px;
  text-align: center;
}
section h2{
  font-size: 40px; font-weight: bold;
  margin-bottom: 100px;
}
section h2::before{
  content: '';
  display: block;
  margin: 0 auto; margin-bottom: 38px;
  width: 30px; height: 4px;
  background-color: #1990ff;
  border-radius: 2px;
}
.section_slider h2::before{
  display: none;
}
.section_have4 h2::before{background-color: #fff;}
.section_howto h2:before,
.section_video h2:before{
  background-color: #1990ff;
}
nav{
  position: fixed;
  z-index: 999;
  width: 100%;
  display: block;
  background-color: #1990ff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  /*box-shadow: 0 3px 5px rgba(180, 76, 76, 0.5);*/
}
.nav_ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:1320px;
  margin: 0 auto;
}
.nav_item{
  position: relative;
  height: 60px;
}
.nav_item.active .nav_item_text{color: #1990ff;}
.nav_item:hover .nav_item_text{color: #aaa;}
.nav_item_skew{
  position: absolute; top: 0; left: 0;
  width: 100%;height: 60px;
  transform: skew(-22deg);
  background-color: #fff;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}
.nav_item_text{
  width: 100%; height: 100%; line-height: 60px;
  color: #2d2d2d;
  font-size: 16px; font-weight: bold;
  position: absolute; top: 0; left: 0;
  z-index: 33;
  text-indent: 36px;
}
.nav_item.active .nav_item_text{color: #1990ff;}
.nav_item:not(:last-child) .nav_item_text .bar{
  position: absolute; top: 5px; right: -2px;
  transform: rotate(22deg);
  display: inline-block;
  width: 2px; height: 50px;
  background-color: #eeeaea;
}
.nav_item_textw{
  padding: 0 36px;
  font-size: 16px;
  height: 100%;
}
header{
  padding-top: 150px;
  text-align: center;
}
.header_title h1{
  font-weight: normal;
  font-size: 20px;
}
.header_title h1 .h1_p{
  font-size: 20px;
  margin-left: -10px;
  letter-spacing: -1.5px;
}
.header_title h1 > .h1_logo{
  display: block;
  margin: 18px auto 0 auto;
  width: 226px; height: 112px;
  background: url(../img/logo_text_blue.png) no-repeat;
  background-size: contain;
}
section.section_slider{
  color: #fff;
  padding: 0;
  overflow: hidden;
}
.section_slider h2{
  margin: 89px 0;
  color: #333;
}
.slider_wrp{
  position: relative;
  overflow: hidden;
}
.slider_ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
}
.slider_item{
  width: 33.33%;
  position: relative;
  background-color: #1990ff;
}
.slider_item_num{
  width: 94%; margin: 0 auto;
  border-bottom: 2px solid #fff;
  font-size: 40px;
  padding: 2.5% 0;
}
.slider_item_h{
  font-size: 34px; font-weight: bold;
  margin: 2.5% 0;
}
.slider_item_p{font-size: 16px;}
.slider_item_img{
  position: absolute; bottom: 0; width: 100%;height: 65%;
}
.slider_item:nth-child(1) > .slider_item_img{
  background: url(../img/sliderimg_1.png) no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.slider_item:nth-child(2) > .slider_item_img{
  background: url(../img/sliderimg_2.png) no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.slider_item:nth-child(3) > .slider_item_img{
  background: url(../img/sliderimg_3.png) no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.slider_dark_ul{
  position: absolute;  top: 0; right: 0;
  z-index: 4;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.slider_dark_item{opacity: 0.6;}
.slider_dark_item:not(:nth-child(2)){background-color: #000;}
.slider_dark_item:nth-child(2){
  /*border: 15px solid #fff;*/
}
.slider_sensor_ul{
  width: 100%; height: 100%;
  position: absolute; top: 0; left: 0;
  z-index: 4;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.slider_sensor_item{width: 33.33%; height: 100%;}

section.section_what{
  position: relative;
  padding-bottom: 115px;
}
.what_main{
  margin-left: -30px;
  font-size: 68px;
  display: inline-block;
  position: relative;
}
.what_logo{
  display: inline-block;
  position: relative; top: 16px; left: 20px;
  width: 164px; height: 78px;
  background: url(../img/logo_text_blue.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.what_justtxt{font-weight: lighter;}
.what_justtxt:last-of-type{letter-spacing: 2px;}
.what_bracketbox{
  display: inline-block;
  position: relative; top: 14px;
  margin: 0 30px;
}
.what_bracket{
  display: inline-block;
  position: absolute;
  width: 12px;height: 158px;
  background-color: #e1e1e1;
  bottom: -40px;
}
.what_bracket.b1{left: 0;}
.what_bracket.b2{bottom: -40px;right: 0;}
.what_bracket_rel{
  display: inline-block;
  width: 100%; height: 100%;
  position: relative;
}
.what_bracket_rel::before,
.what_bracket_rel::after{
  content: '';
  position: absolute; width: 36px; height: 12px;
  background-color: #e1e1e1;
  display: inline-block;
}
.what_bracket.b1 > .what_bracket_rel::before{top: 0; left: 0;}
.what_bracket.b1 > .what_bracket_rel::after{bottom: 0; left: 0;}
.what_bracket.b2 > .what_bracket_rel::before{top: 0; right: 0;}
.what_bracket.b2 > .what_bracket_rel::after{bottom: 0; right: 0;}
.what_content{
  position: relative;
  width: 40px; height: 80px;
  letter-spacing: -5px;
  font-weight: bold;
  overflow: hidden;
  color: #1990ff;
  white-space:nowrap;
}
.what_content_ul{
  width: 100%;
  position: absolute; top: 0; left: 0;
}
.what_item{height: 100%;}
.what_p{
  margin-top: 130px;
  font-size: 25px;
  line-height: 1.6em;
}
.what_p_ul{
  position: relative;
  height: 100px;
}
.what_p_item{
  width: 100%; max-width: 1160px;
  position: absolute;
  margin-left: calc(50% - 580px);
  opacity: 0;
  letter-spacing: -2px;
}
.what_p_item.active{opacity: 1;}
.what_dot_ul{
  width: 20px;
  display: inline-block;
  position: absolute;
  top: calc(50% - 110px); right:7%;
}
.what_dot_item{
  width: 20px; height: 20px;
  border-radius: 500px;
  background-color: #8f8f8f;
  margin: 30px 0;
  box-sizing: border-box;
  border: 0px solid #fff;
}
.what_dot_item:hover{
  border: 3px solid rgba(255, 255, 255, 0.37);
  opacity: 0.7;
}
.what_dot_item.active{background-color: #1990ff;}
section.section_have4{
  padding: 100px 0;
  background-color: #1990ff; color: #fff;
  width: 100%; height: 100%;
}
.have4_h2_p{
  font-weight: bold;
  font-size: 30px;
  line-height: 1.6em;
}
.have4_ul{
  margin: 0 auto;
  margin-top: 142px;
  box-sizing: border-box;
  position: relative;
}
.have4_ul > ul{
  width: auto;
  display: inline-block;
  position: relative;
}
.have4_item{
  position: relative;
  width: 302px;
  margin: 0 10px; padding: 30px;
  display: inline-block;
  border: 10px solid #1990ff;
  background-color: #1990ff;
  border-radius: 36px 36px 0 0;
}
.have4_item:hover{
  border: 10px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}
.have4_item.active{
  border: 10px solid rgba(25, 144, 255, 0.3);
  filter:none;
  background-color: #fff;
  color: #1990ff;
}
.have4_item p{
  margin-top: 63px;
  font-weight: bold;
  font-size: 30px;
}
.have4_item_icon{
  box-sizing: border-box;
  border-radius: 2000px;
  width: 302px; height: 302px;
  display: inline-block;
  background-size: 750px;
  background-color: #fff;
}
.have4_item_icon::after{
  content: '';
  margin-top: 58px;
  width: 186px; height: 186px;
  display: inline-block;
  background: url(../img/icons.png) no-repeat;
}
.have4_item:nth-child(2) > .have4_item_icon::after{background-position: -188px 0;}
.have4_item:nth-child(3) > .have4_item_icon::after{background-position: -376px 0;}
.have4_item:nth-child(4) > .have4_item_icon::after{background-position: -564px 0;}
.have4_content{
  position: absolute; top: 0; left: 500px;
  width: 0;
  overflow: hidden;
  height: 100%;
  text-align: left;
  font-size: 30px; font-weight: normal;
  line-height: 1.6em;
  letter-spacing: -2px;
}
.have4_content_ul{
  position: relative;
  width: 100%; height: 100%;
}
.have4_content_item{
  position: absolute;
  top: 0; left: 0;
  width: 1100px;
}
.have4_content_close{
  position: absolute; top: 0px; right: 20px;
  width: 120px; height: 120px;
  display: inline-block;
  background: url(../img/close_button.png) no-repeat;
  -webkit-background-size: 80px 80px;
  background-size: 80px 80px;
  background-position: center;
}
.have4_content_close:hover{transform: rotate(90deg);}

section.section_howto{
  background-color: #444242;
  color: #fff;
  padding-bottom: 188px;
}
.howto_monitor_view{width: 100%;}
.howto_monitor{position: relative;}
.howto_monitor_box{
  border: 8px solid #fff;
  width: 60%; margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.howto_monitor_view{width: 100%;}
.howto_monitor_header{
  height: 72px;
  border-bottom: 8px solid #fff;
  position: relative;
}
.howto_monitor_header_ul{
  height: 73px;
  background-color: #676767;
}
.howto_arrowbox a{
  display: inline-block;
  height: 60px;
  z-index: 5;
  background: url(../img/double_arrow.png) no-repeat;
  background-color: #fff;
  border: 8px solid #fff;
  border-right: none;
  border-radius: 18px 0 0 18px;
  -webkit-background-size: 70%;
  background-size: 70%;
  background-position: center;
  padding: 20px;
  opacity: 0.5;
  position: absolute;
}
.howto_arrowbox a:hover{
  background: url(../img/double_arrow_white.png) no-repeat;
  -webkit-background-size: 70%;
  background-size: 70%;
  background-position: center;
  background-color: #1990ff;
  opacity: 0.95;
}
.howto_arrowbox .arrow_prev{
  position: absolute; left: 0;
  transform: rotate(180deg);
  display: none;
}
.howto_arrowbox .arrow_next{position: absolute; right: 0;}
.howto_monitor_header_ul li{
  width: 20px; height: 20px;
  display: inline-block;  float: left;
  background-color: #fff;
  border-radius: 50px;
  margin-left: 50px; margin-top: 26px;
}
.howto_monitor_header_ul li:nth-of-type(2){margin-left: 14px;}
.howto_monitor_header_ul li:last-of-type{margin-left: 14px;}
.howto_monitor_view_ul{
  height: 100%;
  position: relative;
  left: 0;
}
.howto_monitor_mask{overflow: hidden;}
.howto_monitor_view_item{
  /*background-color: #555555;*/

  float: left;
  font-size: 36px;
}
.howto_monitor_view_img{
  height: 100%;
  position: relative;
}
.howto_monitor_view_item:nth-child(1) .howto_monitor_view_img:nth-child(1){
  background: url(../img/logo_plus_white.png) no-repeat ;
  background-position: center center;
  -webkit-background-size: 33%;
  background-size: 33%;
}
.howto_monitor_view_item:nth-child(2) .howto_monitor_view_img{
  background: url(../img/howto_1.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}
.howto_monitor_view_item:nth-child(3) .howto_monitor_view_img{
  background: url(../img/howto_2.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}
.howto_monitor_view_item:nth-child(4) .howto_monitor_view_img{
  background: url(../img/howto_3.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}
.howto_monitor_view_item:nth-child(5) .howto_monitor_view_img{
  background: url(../img/howto_4.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}
.howto_monitor_view_item:nth-child(6) .howto_monitor_view_img{
  background: url(../img/howto_5.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}
.howto_monitor_view_img p{
  width: 100%;
  position: absolute; bottom: 15%;
  line-height: 2em;
  background-color: rgba(68, 66, 66, 0.5);
  padding: 20px 0;
}

section.section_video{
  width: 100%; height: 100%;
  color: #fff;
  position: relative;
  overflow: hidden;
  /*padding-bottom: 288px;*/
}
.section_video h3{
  font-weight: bold;
  font-size: 24px;
  margin-top: 100px;
  opacity: 0.8;
}
.video_bg{
  position: fixed; top: 0; left:0; right:0; bottom:0;
  width: 100%; height: 100%;
  background: url(../img/videobackground.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -2;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
}
.section_video video{
  border-radius: 10px;
  width: 62%;
  display: block; margin: 0 auto;
}
.video_dark{
  position: absolute;
  padding-bottom: 0;
  z-index: -1;
  right: 0; bottom: 0; top: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%; width: 100%;
}
section.section_link{
  padding: 80px 0;
  background-color: #444242;
}
section.section_footer{
  width: 100%;
  /*margin-top: 0;*/
  background-color: #000;


  background: rgb(22,0,0);
  background: -moz-linear-gradient(-45deg, rgba(22,0,0,1) 0%, rgba(1,20,0,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(22,0,0,1) 0%,rgba(1,20,0,1) 100%);
  background: linear-gradient(135deg, rgba(22,0,0,1) 0%,rgba(1,20,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#160000', endColorstr='#011400',GradientType=1 );

  color: #fff;
  padding-bottom: 0;
}
.section_footer .hbox > *{margin-top: 50px;}
.section_footer .hbox > p{font-size:30px;}
.section_footer h2::before{
  background-color: #1990ff;
}
.section_footer .hbox h2{
  margin-top: 0;
  color: #555;
  font-size: 80px;
  color: #fff;
  font-weight: normal;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.37);
  padding-bottom: 5px;
}
.section_footer .hbox .professor{color: #aaa ;}
.section_footer .hbox .professor p:first-child{
  font-size: 15px;
  margin-bottom: 10px;
}
.section_footer .hbox .professor p:last-child{font-size: 30px;}
.section_footer .hbox .member{
  font-size: 30px;
  color: #fff;
  margin-bottom: 105px;
}
.footer_list{width: 80%; margin: 0 auto;}
.footer_list_ul{
  margin-bottom: 105px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}
.footer_list_ul::-webkit-scrollbar{display: none;}
.footer_list_ul li{
  width: 236px;
  padding: 0 10px;
}
.footer_list_ul li span{
  width: 236px; height: 236px;
  margin: 0 10px 10px 0;
  display: inline-block;
  border-radius: 4px;
}
.footer_list_ul li:first-of-type span{
  background: url(../img/member_han.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.footer_list_ul li:nth-of-type(2) span{
  background: url(../img/member_so.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.footer_list_ul li:nth-of-type(3) span{
  background: url(../img/do.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.footer_list_ul li:nth-of-type(4) span{
  background: url(../img/member_ma.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.footer_list_ul li:last-of-type span{
  background: url(../img/member_sun.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.footer_list_dl dt{
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
}
.footer_list_dl dd{
  color: #aaa;
  font-size: 13px;
  margin-top: 10px;
}
.footer_end{
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  padding: 24px 0;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: lighter;
}

.footer_btn_ul{
  display: block; margin: 0 auto;
  width: 67%;
  /*height: 200px;*/
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  margin-bottom: 105px;
  /*margin-top: 100px;*/
}
.footer_btn_item{
  width: 50%;
  height: 64px;
}
.footer_btn_item:first-child a{
  border-right: 2px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
}
.footer_btn_item a{
  display: inline-block;
  line-height: 64px;
  width: 100%;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  /*text-shadow: 0 0 7px rgba(255, 255, 255, 0.34);*/
}
.footer_btn_item a:hover{
  color: #1990ff;
}
